@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

:root {
    --cor01: #3e1d1b6e;
    --cor02: #8C311C;
    --cor03: #BF5A36;
    --cor04: #BA6A39;
    --cor05: #ffffff;
}

.row {
    margin: 0;
}

body{
    font-family: 'Playfair Display', serif; 
}



/* header */


header nav {
    margin-top: 10PX;
    background-color: rgba(26, 24, 22, 0.85);
    border-radius: 30px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}




#logo {
    width: 40px;
    background-color:#faa338ec;
    border-radius: 50px;
    box-shadow: 1px 1px 5px #faa338;
    margin-left: 40px;
    padding-top: -5px 0px -5px 0px;
    position: relative;

}

header h1{
    font-size: 24px;
    margin-left: 25px;
    position: absolute;
    top: 19px;
    left: 60px;
    color: #faa338 !important;
    display: inline;
    text-shadow: 1px 1px 5px #faa338b3;
    font-family: 'Pacifico', cursive;
}

header strong {
    font-size: 30px;
}

.navbar-brand {
    padding-right: 20px;
}


#navbar-links{
    margin-right: 40px;
    letter-spacing: 1px;
}

#nav-container .nav-link {
    color:#faa238;
    font-size: 18px;
}

#nav-container .nav-link:hover {
    color: var(--cor04);
}
 
main h2 {
    margin-top: -10px;
    margin-bottom: 15px;
    text-transform:capitalize;
    text-align: center;
    color: var(--cor04);
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item{
    margin-top:-5%;
    height: 95vh;
}

.carousel-indicators li{
    list-style: none;
}



/* main */

#menu {
    height:auto;
    background-color: #fffaf3;
    margin-bottom: 40px;
    
}

#menu .row {
    height: 100%;
    
}


#menu .filter-btn {
    
    border-radius: 50px;
    color: black;
    border: 1px solid #faa238;
    box-shadow: 1px 2px 4px #571e09a1;
    letter-spacing: 2px;
    font-size: 17px;
    padding: 10px;
    transition: .5s;
    margin: 0 10px;
    font-weight: bold;

}

#menu .filter-btn.active, #menu .filter-btn:hover {
    background-color:#faa238;;
    color: white;
    border: none;
    font-weight: bolder;

}

#menu .filter {
    text-align: center;
    padding-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}



/* plates */

#menu .menu-box {
    justify-content: space-between;
    
}

#menu .title-plate {
    color: #e1881b ;
    font-size: 15px;
    font-weight:900;
    text-transform: uppercase;
    text-align:start;
    
  
}

#menu .pointer-price {
    color: rgb(156, 141, 141);
    letter-spacing: 2px;
    font-size: 10px;
}

#menu .descrition-plate {
    color: rgb(156, 141, 141);
    font-size: 14px;
    text-align:start;
    max-width: 326px;
    margin-bottom: 30px;

}

#menu .price{
    color: #000;
    font-size: 18px;
}

#menu .cifrao-price {
    font-size: 10px;
    color: #000;
}

#menu .menu-margin {
    margin-left: 15px;
}



/* Footer */

#footer-area {
    margin-top: 0px;
    width: 100vw;
    margin-bottom:0px;
    color: #faa238;
    text-align: center;
    padding:8px 0px -10px 0px;
    background: rgba(26, 24, 22, 0.85);
    padding: 50px;
    padding-bottom: 10px;
    
}

footer h3{
    margin-top: -25px;
    margin-bottom: 15px;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
}

footer p {
    font-size: 16px;
    color: rgb(236, 232, 232);
    
}

#social-media p {
    letter-spacing: 2px;
}

footer strong {
    color: rgb(195, 177, 177);
    font-size: 20px;
}

footer span {
   color: #faa238;
}

#social-media .social-img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 15px 5px;

}

footer .sticky-bottom {
    margin-top: 15px;
    margin-bottom: 0;
}

